/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	
}

/*All Div that should have no space near them, and allow other div to be near*/
#header-wrapper
,
#content-wrapper
,
#left-content-wrapper
,
#right-content-wrapper
,
#CenterContent
,
#main-content-wrapper
,
#main
,
{
display
:inline-block
;


}
body a {
	text-decoration: none;
}

.BodyGrayAndWhiteStyle { /*background-color:#CCC;*/
	background-color: #EDEDED;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	/* color: #787878; */
	/* background-image:
		url('https://ssl.gstatic.com/android/market_images/web/background_stripes.gif'); */
}

#wrapper {
}

/* Header */
#header-wrapper {
	background-color: #414141;
	z-index: 9999;
	position: fixed;
	width: 100%;
	border-bottom: 3px solid #78AA2B;
}

#header {
	width: 1000px;
	height: 30px;
	margin: 0px auto;
}
/* Content Wrapper*/
#content-wrapper {
	width: 1000px;
	padding-top: 60px;
	margin: 0px auto;

}

#left-content-wrapper {
	float:left;
	padding-right: 15px;
}

#popular-Tag-Menu{
	
}

#right-content-wrapper {
	
}

.tag-list li button {
	background: darkgray;
	color: white;
	font-size: 15px;
	padding: 10px;
	border: 0px;
	cursor: pointer;
}
.tag-list li button:hover {
  background: #78AA2B;
}
.tag-list li button:active {
  background:gray;
}

#CenterContent {
	position: relative;
	width: 1000px;
	float: left;
	background-color: white;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

#main-content-wrapper {
	
}

#main {
	
}

#footer-wrapper {
	display: inline-block;
	clear: both;
	color: gray;
	width: 750px;
}
#footer-wrapper ul.footer_links{
	float: right;
	position: relative;
	right: -8px;
}

#footer-wrapper ul.footer_links li{
	display: inline;
	border-left: 1px solid gray;
	padding: 0 8px 0 12px;
	font-size: 11px;
	line-height: 11px;
}
#footer-wrapper ul.footer_links li.first{
	border: none;
}

#footer-wrapper a{
	text-decoration: none !important;
	color: gray;	
}
#footer-wrapper a:hover{
	color: black;	
}

#footer-text {
	margin-left: 30px;
}
/* Logo */
#logo {
	display: inline-block;
	position: relative;
	bottom: 22px;
	left: 20px;
}

#LogoAsText {
	text-transform: lowercase;
}

#LogoAsText a {
	text-decoration: none;
	font-size: 38px;
	color: #78AA2B;
}

#Menu {
	position: relative;
	float: right;
	top: 8px;
	margin-right: 20px;
}
#Profile{
	width: 1000px;
	text-align: right;
	margin: 0px auto;
	
}
#Profile img{
}

#Profile .userName{
	text-overflow: ellipsis;
	color: #78AA2B;
}

#LoginMenu{
	display: inline-block;
	margin-right: 20px;
}

#ajax-loader{
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1000;
}

.cssmenu {
}

.cssmenu ul {
	font-family: "Droid Sans", Arial, sans-serif;
	list-style-type: none;
	width: auto;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}

.cssmenu li {
	display: block;
	float: left;
	padding-left: 18px;
}

.cssmenu li span {
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid white;
}

.cssmenu li a {
	display: block;
	float: left;
	color: gray;
	text-decoration: none;
	font-weight: bold;
}

.cssmenu li a:hover {
	color: white;
}

#popular-Tag-Menu {
	position: absolute;
	left: -70px;
	top: 18px;
}

#popular-Tag-Menu ul {
	margin:0px;
	list-style-type: none;
}

#popular-Tag-Menu li {
	text-align: right;
}

#popular-Tag-Menu li a {
}

#popular-Tag-Menu li a:hover {
	color: black;
}

.edit_error_class {
	display: block;
	color: red;
}

.height-30 {
	height: 30px;
	background: black;
	margin-right: 0;
}

/*User login and sign up CSS*/
form[action="/user_mgt/login"] table,form[action="/user_mgt/sign_up"] table,
form[action="/user_mgt/lost_password"] table{
	margin: 0 auto;
}

form[action="/user_mgt/login"] table tbody tr:first-child td,
form[action="/user_mgt/sign_up"] table tbody tr:first-child td,
form[action="/user_mgt/lost_password"] table tbody tr:first-child td{
	text-align: center;
	font-size: 20px;
}
form[action="/user_mgt/login"] table tbody tr td,
form[action="/user_mgt/sign_up"] table tbody tr td,
form[action="/user_mgt/lost_password"] table tbody tr td {
	padding: 5px;
}





/*From William's css*/
#postTemplate h2{
	font-size: 1.1em;
}
.post_wrapper {
	clear: both;
	overflow: hidden;
	padding: 15px;
	Margin-left: 5px;
	background-color: white;
	
}
.post{
	
}
.post_author_image {
	float: left;
	width: 32px;
	height: 32px;
	border: 1px solid #78AA2B;
}
.post_header {
	margin-bottom: 0px;
}
.post_signifier {
	color: #999;
	font-size:10px;
}
.post_username_link {
	display: inline-block;
	color: #4EA6EA;
	font-size: 10px;
	font-weight: bold;
	margin-left: 10px;
}
.post_username_link:hover {
	text-decoration: underline;
}
.post_metadata {
	font-size: 9px;
	display: block;
	color: #999;
	margin:5px;
}
.post_title {
	color: #78AA2B;
	font-weight: bold;
	padding-left: 3px;
	font-size: 16px;

}
.post_content h2 {
	color: black;
	font-weight: bold;
	padding-left: 2px;
	background-color: #f2faff;
}a.edit_link {	background: url("../images/icons/edit_icon.png") no-repeat;	color: gray;	padding-left: 19px;}a.edit_link:hover {	text-decoration: underline;}

.post_created_date{
	Margin-left: 10px;
}

