/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	
}

/*All Div that should have no space near them, and allow other div to be near*/
#header-wrapper
,
#content-wrapper
,
#left-content-wrapper
,
#right-content-wrapper
,
#CenterContent
,
#main-content-wrapper
,
#main
,
{
display
:inline-block
;


}
body a {
	text-decoration: none;
}

.BodyGrayAndWhiteStyle { /*background-color:#CCC;*/
	background-color: #EDEDED;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	/* color: #787878; */
	background-image:
		url('https://ssl.gstatic.com/android/market_images/web/background_stripes.gif');
}

#wrapper {
	display: block;
}

/* Header */
#header-wrapper {
	background-color: #DADADA;
	border: 1px solid #BABAC0;
	padding: 3px;
}

#header {
	width: 900px;
	margin: 0px auto;
}
/* Content Wrapper*/
#content-wrapper {
	width: 900px;
	margin: 0px auto;
}

#left-content-wrapper {
	float:left;
}

#popular-Tag-Menu{
	
}

#right-content-wrapper {
	
}

.tag-list li button {
   border-top: 1px solid #f7f7f7;
   background: #afb2b5;
   background: -webkit-gradient(linear, left top, left bottom, from(#444545), to(#afb2b5));
   background: -webkit-linear-gradient(top, #444545, #afb2b5);
   background: -moz-linear-gradient(top, #444545, #afb2b5);
   background: -ms-linear-gradient(top, #444545, #afb2b5);
   background: -o-linear-gradient(top, #444545, #afb2b5);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
.tag-list li button:hover {
   border-top-color: #424042;
   background: #424042;
   color: #ccc;
}
.tag-list li button:active {
   border-top-color: #423e42;
   background: #423e42;
}

#CenterContent { 
	float:left;
	width:750px;
	background-color: white;
	padding: 5px;
	/*
	border-radius:15px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */ */
	
}

#main-content-wrapper {
	
}

#main {
	
}

#footer-wrapper {
	display: inline-block;
	clear: both;
	color: gray;
	width: 750px;
}
#footer-wrapper ul.footer_links{
	float: right;
	position: relative;
	right: -8px;
}

#footer-wrapper ul.footer_links li{
	display: inline;
	border-left: 1px solid gray;
	padding: 0 8px 0 12px;
	font-size: 11px;
	line-height: 11px;
}
#footer-wrapper ul.footer_links li.first{
	border: none;
}

#footer-wrapper a{
	text-decoration: none !important;
	color: gray;	
}
#footer-wrapper a:hover{
	color: black;	
}

#footer-text {
	margin-left: 30px;
}
/* Logo */
#logo {
	display: inline-block;
	color: #FFFFFF;
}

#LogoAsText {
	text-transform: lowercase;
	font-size: 28px;
	color: white;
}

#LogoAsText a {
	text-decoration: none;
	color: white;
}

#Menu {
	display: inline-block;
	color: #FFFFFF;
}
#Profile{
	width: 750px;
	margin: 0px auto;
	align: right;
}
#Profile img{
	width: 32px;
	height:32px;
}

#LoginMenu{
	display: inline-block;
}


.cssmenu {
}

.cssmenu ul {
	font-family: "Droid Sans", Arial, sans-serif;
	list-style-type: none;
	width: auto;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}

.cssmenu li {
	display: block;
	float: left;
}

.cssmenu li span {
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 20px 0 0;
}

.cssmenu li a {
	display: block;
	float: left;
	color: Gray;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 20px 0 0;
}

.cssmenu li a:hover {
	color: white;
}

#popular-Tag-Menu {
	margin-top:20px;
	float:right;
}

#popular-Tag-Menu ul {
	margin:0px;
	list-style-type: none;
}

#popular-Tag-Menu li {
	text-align: right;
}

#popular-Tag-Menu li a {
}

#popular-Tag-Menu li a:hover {
	color: white;
}

.edit_error_class {
	display: block;
	color: red;
}

.height-30 {
	height: 30px;
	background: black;
	margin-right: 0;
}

/*User login and sign up CSS*/
form[action="/user_mgt/login"] table,form[action="/user_mgt/sign_up"] table,form[action="/user_mgt/lost_password"] table
	{
	background: #ebf4fb;
}

form[action="/user_mgt/login"] table tbody tr:first-child td {
	border-bottom: 1px solid black;
	text-align: center;
}

/*POST*/
/* .post_wrapper {
	display: inline-block;
}

.post { Border: 2px solid black !important;
	margin: 2px;
	padding: 15px;
	display:inline-block !important;
	vertical-align: top;
	background-color: white;
	overflow: hidden !important;
}

.post_collapse { max-width: 300px !important;
	max-height: 300px !important;
	overflow:hidden !important;
	font-size:10px !important;
	
}
#postTemplate{
	float:left;
}
.post h2 {
	display: block;
}
.post_content p{
	display:block;
}
 .post_content div{
	display:inline-block;
} 
.post .syntaxhighlighter .gutter {
	display: none;
}

.post .syntaxhighlighter .code {
	width: auto !important;
}

.post .syntaxhighlighter { display: inline-block;
	max-width: 300px !important;
	max-height: 300px !important;
	overflow: hidden !important;
}

.post .toolbar {
	display: none;
}

.post_author_name{
	display: inline-block;
	color: #4EA6EA;
	font-size: 13px;
	font-weight: bold;
} */

/*From William's css*/
#postTemplate h2{
	font-size: 1.1em;
}
.post_wrapper {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	Margin-left: 5px;
	background-color:white;
}
.post{
	margin-left: 60px;
}
.post_author_image {
	float: left;
}
.post_header {
	margin-bottom: 0px;
}
.post_signifier {
	color: #999;
}
.post_username_link {
	display: inline-block;
	color: rgb(78,166,234);
	font-size: 13px;
	font-weight: bold;
}
.post_username_link:hover {
	text-decoration: underline;
}
.post_metadata {
	font-size: 9px;
	display: block;
	color: #999;
	margin:5px;
}
.post_title {
	color: #555;
	font-weight: bold;
}
.post_content h2 {
	color: black;
	font-weight: bold;
	padding-left: 2px;
	background-color: #f2faff;
}a.edit_link {	background: url("../images/icons/edit_icon.png") no-repeat;	color: gray;	padding-left: 19px;}a.edit_link:hover {	text-decoration: underline;}

.post_created_date{
	Margin-left: 10px;
}

